@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}
/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}
.mailing-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}
.catalog-filter-button {
  background-color: #82B3D3;
}
.delete-button {
  background-color: transparent;
}
.listing-type-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
}
.listing-type-selected {
  border: 2px solid #000000;
  background-color: transparent;
}
.listing-type-button:nth-child(1) {
  background-image: url("../images/listing-types/cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.listing-type-button:nth-child(2) {
  background-image: url("../images/listing-types/block.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.listing-type-button:nth-child(3) {
  background-image: url("../images/listing-types/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.favourites-button {
  background-color: #82B3D3;
}
.favourites-added {
  background-color: #7DB54F;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  padding: auto;
  padding-top: 11px;
  margin-right: 8px;
  border-radius: 4px;
}
.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-more {
  background-color: transparent;
  color: #000000;
}
/* Контейнер с тенью */
.body-container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  color: #333333;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}
/* Навигация */
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 24px;
}
/* Добавляем иконки */
.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/navigation-user/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/navigation-user/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 464px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo {
  display: block;
  margin-bottom: -6px;
  z-index: 2;
  position: relative;
  width: 140px;
  margin-right: 28px;
}
.navigation-user {
  justify-content: flex-end;
  max-width: 312 px;
  margin-left: auto;
}
/* Растяжение основной части/липкий футер */
.main-container {
  flex-grow: 1;
}
/* Скрываем невидимые заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Первый экран на главной */
.main-index-container {
  background-color: #D6E8F2;
  background-image: url("../images/decor.svg"), url("../images/background-1-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center, center;
  text-align: center;
  height: 485px;
}
.welcome {
  margin-top: 51px;
}
/* Преимущества */
/* Выравнивание текста */
.advantages-container {
  padding: 69px 270px;
}
.advantages {
  text-align: center;
}
/* Заголовок и описание блока */
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.advantages-description {
  margin: 25px 0 0 0;
}
/* Заголовки и описания преимуществ */
.advantages-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  margin: 62px 0 0 0;
}
.advantages-title-item-town,
.advantages-title-item-bridge {
  color: #ffffff;
}
/* Убираем стили по умолчанию */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Фон преимуществ */
.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112px 85px;
  min-height: 385px;
  box-sizing: border-box;
}
.advantages-item-town,
.advantages-item-bridge {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
  min-height: 385px;
}
.advantages-item-town-container,
.advantages-item-bridge-container {
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 112px 85px;
  min-height: 385px;
  box-sizing: border-box;
}
/* Меняем местами картинку и блок */
.advantages-item-bridge-container {
  order: 1;
}
.advantages-image {
  width: auto;
  height: 100%;
}
/* Рекомендации */
/* Выравнивание текста */
.recommendations-container {
  padding: 64px 347px;
}
.recommendations {
  text-align: center;
}
/* Заголовок и описание блока */
.recommendations-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.advantages-description {
  margin: 20px 0 0 0;
}
/* Заголовки и описание рекомендаций */
.recommendations-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.recommendations-item-description {
  font-size: 18px;
  line-height: 21px;
  margin: 30px 0 0 0;
}
/* Убираем стили по умолчанию */
.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Фон */
.recommendations-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 81px 85px;
}
.recommendations-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}
.recommendations-item-house {
  padding-top: 183px;
  background-image: url("../images/recommendations/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
}
.recommendations-item-food {
  padding-top: 183px;
  background-image: url("../images/recommendations/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
}
.recommendations-item-souvenir {
  padding-top: 183px;
  background-image: url("../images/recommendations/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
}
/* Поиск отелей */
/* Выравнивание текста */
.hotel-search {
  text-align: center;
  min-height: 406px;
  padding: 96px 304px;
  box-sizing: border-box;
}
/* Заголовок и описание блока */
.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.hotel-search-description {
  margin-top: 20px;
  margin-bottom: 54px;
}
/* Подписка на рассылку */
/* Выравнивание текста */
.mailing {
  text-align: center;
  background-color: #ffffff;
  min-height: 415px;
  padding: 96px 258px;
  box-sizing: border-box;
}
/* Заголовок и описание блока */
.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.mailing-title-index {
  color: #ffffff;
}
.mailing-index {
  background-color: #3B74A0;
  color: #FFFFFF;
  background-image: url("../images/background-mailing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mailing-description {
  margin-top: 20px;
  margin-bottom: 54px;
}
/* Каталог */
.main-inner-container {
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #3B74A0;
  background-image: url("../images/catalog-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.main-inner-wrapper {
  color: #FFFFFF;
  text-align: left;
  width: 1060px;
  margin: 0 auto;
}
.catalog-container {
  width: 1060px;
  margin: 0 auto;
}
.inner-header-title {
  display: inline;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-item-home {
  display: flex;
  align-items: center;
  width: 31px;
  height: 21px;
  background-image: url("../images/breadcrumbs/home.svg"), url("../images/breadcrumbs/arrow.svg");
  background-repeat: no-repeat;
  background-position: left, right;
  margin-right: 10px;
}
.catalog-filter {
  display: flex;
}
.catalog-filter-group {
  width: 152px;
  font-size: 18px;
  line-height: 21px;
}
.catalog-filter-group-house {
  margin-left: 70px;
}
.catalog-filter-group-cost {
  width: 288px;
  margin-left: auto;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-left: 70px;
}
.catalog-sorting-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.catalog-filter-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 468px;
  margin: 0;
  margin-right: 70px;
}
.listing-type-button-select-wrapper {
  display: flex;
  align-items: center;
  width: 522px;
}
.select-control {
  width: 292px;
  height: 48px;
}
.listing-type-button-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  margin-left: 70px;
}
.listing-type-button {
  margin-right: 8px;
  width: 48px;
  height: 48px;
}
.listing-type-button:nth-child(3) {
  margin-right: 0;
}
/* Карточки */
.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color:  #000000;
}
.rating {
  background-color: #F2F2F2;
  text-transform: uppercase;
}
/* Убираем стили по умолчанию */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.product-card {
  width: 438;
  padding: 20px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0;
}
/* Футер */
.page-footer {
  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color:  #000000;
  padding-left: 236px;
}
.development-logo-link {
  margin-left: auto;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 144px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}
